<main class="home">
    <div class="intro-wrapper">
        <p class="intro">It is important that food is packed with vitamins and minerals that bring vitality and health. Food also needs to be easy to digest, this is why I have created vegetarian and pesceterian recipes that are gluten and dairy free.</p>
    </div>
    {{#pages}}
    <article>
        <h2>
            <a href="{{link}}">
                {{{name}}}
                <img src="/images/400/{{image}}" alt="{{name}}">
            </a>
        </h2>
    </article>
    {{/pages}}
</main>