<main class="home">
    {{#pages}}
    <article>
        <h2>
            <a href="{{link}}">
                {{name}}
                <img src="/images/400/{{image}}" alt="{{name}}">
            </a>
        </h2>
    </article>
    {{/pages}}
</main>